<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiyou3g.select.parking">

    <application>
        <activity android:name=".Adm_ParkingActivity" />
        <activity android:name=".Cus_ParkingActivity" />
    </application>

</manifest>